amqp==2.3.2
asn1crypto==0.24.0
azure-common==1.1.14
azure-nspkg==2.0.0
azure-storage==0.36.0
BeautifulSoup==3.2.1
beautifulsoup4==4.6.3
billiard==3.5.0.4
boto3==1.4.5
botocore==1.7.10
celery==4.1.0
Cerberus==1.2
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
contextlib2==0.5.5
coverage==3.6
cryptography==2.3
decorator==4.3.0
Django==1.10
django-cors-headers==2.4.0
django-crispy-forms==1.7.2
django-elasticsearch-dsl==0.5.0
django-filter==1.0.4
django-haystack==2.8.1
django-rest-framework==0.1.0
django-split-settings==0.3.0
django-tools==0.40.2
djangorestframework==3.5.0
djangorestframework-jwt==1.8.0
docutils==0.14
drf-haystack==1.8.3
ecdsa==0.13
elasticsearch==2.4.0
elasticsearch-dsl==2.2.0
enum34==1.1.6
Faker==0.8.17
future==0.16.0
futures==3.1.1
gunicorn==19.9.0
idna==2.7
ijson==2.3
ipaddress==1.0.22
jmespath==0.9.3
kombu==4.2.1
ldap3==2.5
lxml==4.2.3
ndg-httpsclient==0.5.0
numpy==1.13.1
pandas==0.20.3
Paste==2.0.3
pbr==4.1.1
Pillow==5.2.0
psycopg2==2.7.5
py4j==0.10.7
pyasn1==0.4.3
pyasn1-modules==0.2.2
pycparser==2.18
pycryptodomex==3.6.4
PyJWT==1.6.4
pyOpenSSL==18.0.0
python-dateutil==2.6.1
python-http-client==3.1.0
python-jose==3.0.0
pytz==2017.2
raven==6.4.0
repoze.who==2.3
requests==2.19.1
rsa==3.4.2
s3transfer==0.1.11
sendgrid==5.4.1
six==1.10.0
snowflake-connector-python==1.6.6
SQLAlchemy==1.1.14
sqlalchemy-migrate==0.11.0
sqlparse==0.2.4
Tempita==0.5.2
text-unidecode==1.2
urllib3==1.23
vine==1.1.4
WebOb==1.8.2
zope.interface==4.5.0
